<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="Version" value="0.01" />
    <add key="SiteUrl" value="www.google.com" />
  </appSettings>
  <connectionStrings>
    <add name="kSpotCS" connectionString="" />
  </connectionStrings>
</configuration>